.copy-third {}

.copy-third h1 {
  margin: 0;
  color: #a6e7d1;
  font-family: CircularBold;
}

.copy-third button {
  background-color: white;
  color: #74cd89;
  font-family: CircularBold;
  border-radius: 15px;
  border: none;
  padding: 5px 15px 6px 15px;
  text-transform: capitalize;
}

.copy-third button:hover {
  color: white;
  background-color: #a6e7d1;
}

@media screen and (min-width: 601px) {
  .copy-third {
    display: flex wrap;
    margin-left: 60%;
    margin-top: 0%;
    min-width: 400px;
  }

  .copy-third h1 {
    text-align: left;
    margin-left: 0%;
    font-size: 1.75em;
    margin-bottom: -4%
  }

  .copy-third button {
    margin-top: 8%;
    font-size: 18px;
    margin-left: -70%;
  }

  .mobile-image-third img {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .flex-container-third {
    display: flex wrap;
    align-content: center;
    justify-content: center;

  }

  .mobile-image-third img {
    margin-bottom: 5%;
    height: auto;
    max-width: 350px;
    margin-left: -3%;
    z-index: -5;
    overflow: hidden;
  }

  .copy-third h1 {
    font-size: 1em;
    text-align: center;
    z-index: 1;
  }


  .copy-third button {
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 8%;
    font-size: 18px;
  }

  .hero-third div {
    background-color: #74cd89;
    overflow: hidden;
  }
}